*{
    box-sizing: border-box;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

header{
    background-color: hsl(240, 100%, 25%);
    color: white;
    width: 70%;
    margin: 0 auto 1rem;
    padding: 1em;
    text-align: center;
}

h4{
    margin: 0;
}

.searchcontainer{
    width: 70%;
    margin: 0 auto 1rem;
    border: 1px solid hsl(240, 100%, 95%);
}

.searchheader{
    padding: .5rem;
    background-color:  hsl(240, 100%, 95%);
}

form{
    padding: 1rem;
}

input{
    display: block;
    width: 100%;
    margin-bottom: .5rem;
}
button{
    margin: .5rem;
}
.articlecontainer{
    border: 1px solid hsl(240, 100%, 95%);
    width: 70%;
    margin: 0 auto;
    
}
.articleheader{
    padding: .5rem;
    background-color:  hsl(240, 100%, 92%);
}
#results{
    padding: 1rem;
}